/* BASICS */
html {
    overflow-x: hidden;
}

body {
    /*font-family: "BebasNeue", Arial, Verdana, Tahoma, sans-serif;*/
    background: #FFFFFF;
    font-size: 16px;
    font-family: "GeneralSans-light", Arial, Verdana, Tahoma, sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

p {
    margin-bottom: 0;
}

h1 {
    font-family: "IBM-PLex-bold", Arial, Verdana, Tahoma, sans-serif;
    letter-spacing: 10px;
    line-height: 1;
    text-transform: uppercase;
}

h2 {
    font-family: "IBM-PLex-bold", Arial, Verdana, Tahoma, sans-serif;
    letter-spacing: 5px;
    line-height: 1;
    text-transform: uppercase;
}

h3 {
    font-family: "BebasNeue-regular", Arial, Verdana, Tahoma, sans-serif;
    letter-spacing: 1px;
    line-height: 1;
}

.black-background {
    background: #040403;
}


/* ---------- ---------- FORM ---------- ---------- */
form {
    position: relative;
}

form input, form textarea {
    display: block;
    width: 100%;
    padding: 5px 10px;
    border-color: #303030;
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    margin-bottom: 15px;
    background: transparent;
}

form input[type="submit"] {
    width: 100%;
    padding: 5px 0;
    text-align: center;
    font-family: "BebasNeue-regular", Arial, Verdana, Tahoma, sans-serif;
    letter-spacing: 1px;
    color: #040403;
    border-radius: 30px;
    border: 1px solid #040403;
    text-decoration: none;
    display: block;
    background: transparent;
    transition: 0.5s ease-out all;
}

form input[type="submit"]:hover {
    background: #040403;
    color: white;
}


/* ---------- ---------- CHECKBOX ---------- ---------- */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    margin-top: 5px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #040403;
}

.checkbox-container:hover input ~ .checkmark {
    background-color: #909090;
}

.checkbox-container input:checked ~ .checkmark {
    background-color: #040403;
}


/* ---------- ---------- HEADER ---------- ---------- */
.main-header {
    height: 80px;
    position: relative;
    background-color: transparent;
    z-index: 1;
}

.main-header img {
    height: 50px;
    width: auto;
    display: block;
    object-fit: contain;
    object-position: left center;
    position: relative;
}

.main-banner {
    padding: 0;
    margin-top: -80px;
    height: 700px;
    position: relative;
    overflow: hidden;
    background-color: #000000;
    z-index: 0;
}

.main-banner h1,
.main-banner h2 {
    color: white;
    text-transform: uppercase;
    opacity: 1;
    font-weight: 900;
    z-index: 1;
}

.main-banner h1 {
    margin-top: 50px;
    font-family: "IBM-PLex-bold", Arial, Verdana, Tahoma, sans-serif;
    line-height: 1.1;
    margin-bottom: 20px;
}

.main-banner h2 {
    font-family: "IBM-PLex-extrailght", Arial, Verdana, Tahoma, sans-serif;
    line-height: 1.2;
    margin-bottom: 25px;
}

.main-banner .main-banner-button {
    width: 100%;
    padding: 5px 0;
    text-align: center;
    font-family: "BebasNeue-regular", Arial, Verdana, Tahoma, sans-serif;
    letter-spacing: 1px;
    color: white;
    border-radius: 30px;
    border: 1px solid white;
    text-decoration: none;
    display: block;
    transition: 0.5s ease-out all;
    font-size: 20px;
    z-index: 1;
}

.main-banner .main-banner-button:hover {
    background: white;
    color: #040403;
}

.main-banner img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    padding: 10px 0 150px 0;
    transform: translate(-50%, -50%);
    object-fit: contain;
    filter: opacity(0.3);
    z-index: -1;
}

.main-banner-social-links-container {
    position: relative;
    margin-top: -120px;
    display: flex;
}

.main-banner-social-links {
    margin-left: 10px;
}

.main-banner-social-links .social-link-box {
    background: white;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    transition: 0.5s ease-out all;
}

.main-banner-social-links .social-link-box i {
    width: 25px;
    height: 25px;
    display: block;
    font-size: 25px;
    line-height: 1;
    text-align: center;
    color: #040403;
}

.main-banner-social-links .social-link-box:hover {
    background: transparent;
}

.main-banner-social-links .social-link-box:hover i {
    color: white;
}


/* ---------- ---------- PAGE TITLE ---------- ---------- */
.page-title-white-block {
    margin-top: -60px;
    background: white;
    z-index: 1;
}

.page-title {
    position: relative;
}


/* ---------- ---------- SERVICES ---------- ---------- */
.services-block {
    position: relative;
}

.services-block .service-shapes-container {
    position: relative;
}

.services-block .service-shapes-container .service-shape {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.services-block .service-shapes-container .service-shape svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    width: 130px;
    height: 130px;
    z-index: -1;
}

.services-block .service-shapes-container .service-shape img {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
    display: block;
}

.services-block .service-shapes-container .service-shape p {
    text-align: center;
    color: white;
    font-size: 16px;
}

.services-block .service-shapes-container .service-shape-brand {}
.services-block .service-shapes-container .service-shape-graphic {
    margin-left: -210px;
    margin-top: -30px;
}
.services-block .service-shapes-container .service-shape-social {
    margin-right: -210px;
    margin-top: -95px;
}
.services-block .service-shapes-container .service-shape-ad {
    margin-top: -20px;
}


/* ---------- ---------- ARTWORKS ---------- ---------- */
.artworks-block {
    position: relative;
}

.artworks-block .artworks-title-left {
    background: white;
}

.artworks-block .artworks-title-left img {
    max-width: 100%;
    max-height: 500px;
    height: auto;
}

.artworks-block .artworks-title-right {
    height: 100%;
    background: #040403;
}

.artworks-block .artworks-title-right h2 {
    color: white;
}

.artworks-block .artworks-img-container,
.artworks-block .artworks-img-container-wide,
.artworks-block .artworks-img-container-double,
.artworks-block .artworks-img-container-half {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.artworks-block .artworks-img-container .artworks-img,
.artworks-block .artworks-img-container-wide .artworks-img,
.artworks-block .artworks-img-container-double .artworks-img,
.artworks-block .artworks-img-container-half .artworks-img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}


/* ---------- ---------- OFFER ---------- ---------- */
.offer-block {
    position: relative;
    background: #040403;
    overflow: hidden;
}

.offer-block-details-text-block {
    background: transparent;
}

.offer-block-details-form-block {
    background: white;
    position: relative;
}

.offer-block-details-form-block:before {
    content: '';
    background: white;
    position: absolute;
    top: 0;
    left: -50%;
    height: 100%;
    width: 5000px;
    display: block;
}

.offer-block .offer-block-details-form-block h3 {
    font-family: "GeneralSans-medium", Arial, Verdana, Tahoma, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.offer-block .offer-block-details-form-block .checkbox-container {
    margin-bottom: 10px;
}

.offer-block .offer-block-details-text-block .offer-details-image {
    width: 50px;
    height: 50px;
    display: block;
    object-fit: cover;
    margin: 0 auto 10px auto;
}

.offer-block .offer-block-details-text-block .offer-details {
    color: white;
}


/* ---------- ---------- COPYRIGHT ---------- ---------- */
.copyright-block {
    position: relative;
    height: 50px;
}

.copyright-block .copyright-text {
    font-size: 12px;
    color: white;
}


/* ---------- ---------- MEDIA ---------- ---------- */
/* Extra small devices (phones, 576px and down) */
@media only screen and (max-width: 576px) {
    h1 {
        font-size: 55px;
        letter-spacing: 2px;
    }

    h2 {
        font-size: 35px;
        letter-spacing: 0;
    }

    h3 {
        font-size: 25px;
    }

    .artworks-block .artworks-img-container {
        height: 165px;
    }

    .artworks-block .artworks-img-container-wide {
        height: 250px;
    }

    .artworks-block .artworks-img-container-narrow {
        height: 165px;
    }

    .artworks-block .artworks-img-container-double {
        height: 180px;
    }

    .artworks-block .artworks-img-container-half {
        height: 78px;
    }
}

/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (min-width: 576px) {
    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 45px;
    }

    h3 {
        font-size: 25px;
    }

    .services-block .service-shapes-container .service-shape svg {
        width: 200px;
        height: 200px;
    }

    .services-block .service-shapes-container .service-shape img {
        width: 55px;
        height: 55px;
        margin-bottom: 10px;
    }

    .services-block .service-shapes-container .service-shape p {
        font-size: 18px;
    }

    .services-block .service-shapes-container .service-shape-brand {}
    .services-block .service-shapes-container .service-shape-graphic {
        margin-left: -320px;
        margin-top: -10px;
    }
    .services-block .service-shapes-container .service-shape-social {
        margin-right: -320px;
        margin-top: -120px;
    }
    .services-block .service-shapes-container .service-shape-ad {
        margin-top: 0;
    }

    .artworks-block .artworks-img-container {
        height: 230px;
    }

    .artworks-block .artworks-img-container-wide {
        height: 400px;
    }

    .artworks-block .artworks-img-container-narrow {
        height: 230px;
    }

    .artworks-block .artworks-img-container-double {
        height: 250px;
    }

    .artworks-block .artworks-img-container-half {
        height: 113px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .artworks-block .artworks-img-container {
        height: 300px;
    }

    .artworks-block .artworks-img-container-wide {
        height: 500px;
    }

    .artworks-block .artworks-img-container-narrow {
        height: 300px;
    }

    .artworks-block .artworks-img-container-double {
        height: 350px;
    }

    .artworks-block .artworks-img-container-half {
        height: 163px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .main-banner {
        height: 650px;
    }

    .main-banner img {
        padding: 10px 0 100px;
    }

    .main-banner-social-links-container {
        margin-top: -60px;
    }

    .artworks-block .artworks-img-container {
        height: 450px;
    }

    .artworks-block .artworks-img-container-narrow {
        height: 450px;
    }

    .artworks-block .artworks-img-container-wide {
        height: 700px;
    }

    .artworks-block .artworks-img-container-double {
        height: 450px;
    }

    .artworks-block .artworks-img-container-half {
        height: 213px;
    }

    .offer-block-details-form-block:before {
        left: 0;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .artworks-block .artworks-img-container {
        height: 500px;
    }

    .artworks-block .artworks-img-container-narrow {
        height: 500px;
    }

    .artworks-block .artworks-img-container-wide {
        height: 700px;
    }

    .artworks-block .artworks-img-container-double {
        height: 550px;
    }

    .artworks-block .artworks-img-container-half {
        height: 263px;
    }
}

@media only screen and (min-width: 1400px) {
    .artworks-block .artworks-img-container {
        height: 600px;
    }

    .artworks-block .artworks-img-container-narrow {
        height: 600px;
    }

    .artworks-block .artworks-img-container-wide {
        height: 800px;
    }

    .artworks-block .artworks-img-container-double {
        height: 650px;
    }

    .artworks-block .artworks-img-container-half {
        height: 313px;
    }
}
